<a href="https://colab.research.google.com/github/SWAGAT2550/datasci/blob/main/L1_L2_reg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/codebasics/py/master/ML/16_regularization/Melbourne_housing_FULL.csv")
df.head

<bound method NDFrame.head of            Suburb             Address  ...             Regionname Propertycount
0      Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1      Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2      Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3      Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4      Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
...           ...                 ...  ...                    ...           ...
34852  Yarraville         13 Burns St  ...   Western Metropolitan        6543.0
34853  Yarraville       29A Murray St  ...   Western Metropolitan        6543.0
34854  Yarraville      147A Severn St  ...   Western Metropolitan        6543.0
34855  Yarraville    12/37 Stephen St  ...   Western Metropolitan        6543.0
34856  Yarraville    3 Tarrengower St  ...   Western Metropolitan        6543.0

[34857 rows x 21 columns]>

In [8]:
df.shape

(34857, 21)

In [9]:
df.nunique()

Suburb             351
Address          34009
Rooms               12
Type                 3
Price             2871
Method               9
SellerG            388
Date                78
Distance           215
Postcode           211
Bedroom2            15
Bathroom            11
Car                 15
Landsize          1684
BuildingArea       740
YearBuilt          160
CouncilArea         33
Lattitude        13402
Longtitude       14524
Regionname           8
Propertycount      342
dtype: int64

In [10]:
cols_to_use = ['Suburb', 'Rooms', 'Type', 'Method', 'SellerG', 'Regionname', 'Propertycount', 
               'Distance', 'CouncilArea', 'Bedroom2', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'Price']
df = df[cols_to_use]

In [12]:
df.head(10)

       Suburb  Rooms Type Method  ...  Car Landsize  BuildingArea      Price
0  Abbotsford      2    h     SS  ...  1.0    126.0           NaN        NaN
1  Abbotsford      2    h      S  ...  1.0    202.0           NaN  1480000.0
2  Abbotsford      2    h      S  ...  0.0    156.0          79.0  1035000.0
3  Abbotsford      3    u     VB  ...  1.0      0.0           NaN        NaN
4  Abbotsford      3    h     SP  ...  0.0    134.0         150.0  1465000.0
5  Abbotsford      3    h     PI  ...  1.0     94.0           NaN   850000.0
6  Abbotsford      4    h     VB  ...  2.0    120.0         142.0  1600000.0
7  Abbotsford      4    h     SN  ...  2.0    400.0         220.0        NaN
8  Abbotsford      2    h      S  ...  2.0    201.0           NaN        NaN
9  Abbotsford      2    h      S  ...  1.0    202.0           NaN        NaN

[10 rows x 15 columns]

In [13]:
df.isna().sum()

Suburb               0
Rooms                0
Type                 0
Method               0
SellerG              0
Regionname           3
Propertycount        3
Distance             1
CouncilArea          3
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
Price             7610
dtype: int64

In [15]:
cols_to_fill_zero = ['Propertycount', 'Distance', 'Bedroom2', 'Bathroom', 'Car']
df[cols_to_fill_zero] = df[cols_to_fill_zero].fillna(0)



df['Landsize'] = df['Landsize'].fillna(df.Landsize.mean())
df['BuildingArea'] = df['BuildingArea'].fillna(df.BuildingArea.mean())

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3069: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [16]:
df.isna().sum()

Suburb              0
Rooms               0
Type                0
Method              0
SellerG             0
Regionname          3
Propertycount       0
Distance            0
CouncilArea         3
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
Price            7610
dtype: int64

In [17]:
df.dropna(inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
df.isna().sum()

Suburb           0
Rooms            0
Type             0
Method           0
SellerG          0
Regionname       0
Propertycount    0
Distance         0
CouncilArea      0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
Price            0
dtype: int64

In [21]:
df = pd.get_dummies(df, drop_first=True)
df.head(10)

    Rooms  ...  CouncilArea_Yarra Ranges Shire Council
1       2  ...                                       0
2       2  ...                                       0
4       3  ...                                       0
5       3  ...                                       0
6       4  ...                                       0
10      2  ...                                       0
11      3  ...                                       0
14      2  ...                                       0
15      3  ...                                       0
16      2  ...                                       0

[10 rows x 745 columns]

In [22]:
X = df.drop('Price', axis=1)
y = df['Price']

In [23]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=2)

In [24]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(train_X, train_y)

In [25]:
reg.score(test_X,test_y)

0.13853683161569574

In [26]:
reg.score(train_X, train_y)

0.6827792395792723

L1 and L2 regularization

In [27]:
#lasso/L1
from sklearn import linear_model
lasso_reg = linear_model.Lasso(alpha=50, max_iter=100, tol=0.1)
lasso_reg.fit(train_X, train_y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1326631542478297.2, tolerance: 796258688308225.9
  positive)

Lasso(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      positive=False, precompute=False, random_state=None, selection='cyclic',
      tol=0.1, warm_start=False)

In [28]:
lasso_reg.score(test_X, test_y)

0.6636111369404489

In [29]:
#ridge/L2

from sklearn.linear_model import Ridge
ridge_reg= Ridge(alpha=50, max_iter=100, tol=0.1)
ridge_reg.fit(train_X, train_y)

Ridge(alpha=50, copy_X=True, fit_intercept=True, max_iter=100, normalize=False,
      random_state=None, solver='auto', tol=0.1)

In [30]:

ridge_reg.score(test_X, test_y)

0.6670848945194958